@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Hide the default track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6284FF; /* Your custom color from Tailwind config */
  border-radius: 10px;
}

.custom-scrollbar-track {
  position: absolute;
  top: 0;
  right: 0; /* Adjust based on layout */
  width: 6px;
  background-color: #6284FF; /* Your preferred color for the track */
}

